*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.head{
	width: 1519px;
	height: 600px;
	/*background-color: red;*/
}

#logo{
	width: 1320px;
	height: 200px;
	/*background-color: yellow;*/
	margin-left: 100px;
	margin-right:100px;
}

#img{
	width: 265px;
	height: 200px;
	float: left;
}

#img1{
	width: 130px;
	height: 180px;
	float: left;
	padding-top: 20px;
	line-height: 180px;
	text-align: center;
/*	background-color: yellow;*/
}

#input{
	width: 500px;
	height:  200px;
	float: left;
	/*background-color: red;*/
}

#input h2{
	margin-left: 90px;
	margin-top:30px;
	font-family: '华文彩云';
}

#input2{
	width: 427px;
	height: 26px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: yellow;
	background-image: url(../images/input1.png);
}

#sousu{
	width: 385px;
	height: 20px;
}

#sousu2{
	width: 0px;
	height: 0px;
}

#logor{
	width: 425px;
	height: 200px;
	/*background-color: red;
*/	float: left;
}

#rl{
	width: 200px;
	height: 200px;
	/*background-color: yellow;*/
	float: left;
}

#rr{
	width: 225px;
	height: 180px;
	float: left;
	padding-top: 20px;
	/*line-height: 200px;*/
	text-align: center;
	/*background-color: blue;*/
}

.a1{
	margin-left: 20px;
}

.a2{
	margin-left: 51px;
	line-height: 110px;
}

#rr a{
	/*margin-left: 40px;*/
}
#rl h2{
	margin-top: 90px;
	margin-left: 20px;
	font-family: '华文琥珀';
}

#nav{
	width: 1320px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-left: 100px;
	margin-right:100px;
	background-color: red;
}

#ul1{
   list-style: none;
   width: 1320px;
   height: 50px;
   line-height: 30px;
   text-align: center;

}

.li1{
	width: 100px;
	height: 50px;
	text-align: center;
	position: relative;
	line-height: 50px;
	margin-left: 45px;
	/*background-color: yellow;*/
	float: left;
}

.li1:hover .ul2{
	display: block;
}

.li a{
	color: yellow;
}

.ul2{
	list-style: none;
	width: 60px;
	height: 100px;
	position: absolute;
	left: 10px;
	top: 50px;
	line-height: 50px;
	text-align: center;
	display: none;

}

.li2{
    width: 80px;
    height: 35px;
    background-color: yellow;


}

#banner{
	width: 1320px;
	height: 350px;
	margin-left: 100px;
	background-color: yellow;
}

.lunbo{
	width: 1320px;
	height: 350px;
	display: none;
}

.tu{
	width: 1320px;
	height: 350px;
}



.end{
	width: 1519px;
	height: 140px;
	/*background-color: yellow;
*/	font-size: 12px;
}

#banquan{
	width: 1320px;
	height: 140px;
	margin-left: 100px;
	text-align: center;
	padding-top: 20px;
}

#banquan h2{
	font-family: '宋体';
	margin-top: 12px;
}

#banquan a{
	margin-top: 20px;
	margin-left: 10px;
	line-height: 35px;
	text-decoration: underline;
}